header {
    background: red;
    width: 100%;
    height: 200px;
}

main {
    background: black;
}

.botao-home {
    position: absolute;
    color: rgb(0, 0, 0);    
    top: 85px;
    right: 400px; 
    font-size: 50px;
    font-weight: 100;
    font-weight: bold;
}

.botao-home:hover { 
    transform: scale(1.5);
    transition: 2s;
}

h1 img {
    width: 300px;
    height: 200px;
    padding-left: 300px;
}

.titulo {
    position: absolute;
    padding-left: 50px;
    font-weight: bold;
    padding-top: 60px;
    font-size: 100px;
    top: 0;
}

.opcoes {
    width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 20px;
}
.opcoes p {
    font-size: 50px;
}

.opcoes h2 {
    font-weight: bold;
}

ul img {
    width: 360px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
}

.opcoes li {
    display: inline-block;
    text-align:  center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5% ;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 50px;
}